aiocache==0.12.2
aiohttp==3.8.1
aioredis==2.0.1
beautifulsoup4==4.11.1
fastapi==0.110.1
starlette>=0.37.2,<0.38.0
httpx==0.23.0
numpy==1.26.4
pydantic==1.10.14
redis==5.0.3
requests==2.31.0
uvicorn[standard]==0.18.2
lxml==4.9.1
backoff==2.2.1
xmltodict==0.13.0
