fastapi==0.110.1
httpx==0.23.0
bs4==0.0.2
xmltodict==0.13.0
pydantic==1.10.14
uvicorn==0.18.2
starlette==0.37.2
redis==5.0.3
python-dotenv==1.0.1
requests==2.31.0
numpy==1.26.4
utils==1.0.2
scikit-learn==1.4.2
aiohttp==3.9.5
backoff==2.2.1
cachetools==5.3.3
aiocache==0.12.2
